<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<div>
    <h1 class="welcome">Bem vindo ao meu portfólio!</h1>
    <div class="grid">
        <div class="grid-1">
            <div class="photo-title">
                <img 
                src="{{ imgSrc }}" 
                alt="Arthur Lessa - Foto de perfil" 
                loading="eager">
                <h1 class="custom">Arthur Lessa</h1>
            </div>
        </div>
        <div class="grid-2">
            <div class="about-me">
                <h1>Sobre mim</h1>
                <p>{{FirstAboutMeText}}</p>
                <p>{{SecondAboutMeText}}</p>
                <p>{{ThirdAboutMeText}}</p>
            </div>
        </div>
    </div>
</div>

<!-- <aside>
    <div class="container">
        <p>Frontend | Testes Automatizados PlayWright .NET | Angular | Java | C#</p>
        <p>São Paulo, SP, Brasil</p>
        <p>
            Atualmente, estudante e estagiário na área de desenvolvimento de software,
            atuando principalmente no desenvolvimento Frontend.
        </p>
    </div>

    <nav>
        <ul>
            <li>
                <a href="assets/pdf/cvArthur.pdf" target="_blank" class="btn btn-primary">
                    Download CV
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/arthurlf/?originalSubdomain=br" target="_blank" class="btn btn-secondary">
                    LinkedIn
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" alt="Ícone para contato via whatsapp" height="35px" width="35px">

            <figcaption>
                <a href="https://contate.me/arthurdev" target="_blank">
                </a>
                <strong>Envie uma mensagem para:</strong>
                <p>Whatsapp: (11) 95678-8884</p>
            </figcaption>
        </figure>

        <figure>
            <img src="assets/icons/email.svg" alt="Ícone para contato via E-mail" height="35px" width="35px">

            <figcaption>
                <a href="mailto:thurlsf@gmail.com" target="_blank">
                </a>
                <strong>Envie um e-mail para:</strong>
                <p>E-mail: thurlsf&#64;gmail.com</p>
            </figcaption>
        </figure>
    </section>
</aside> -->