<div class="container">
    <h2>Conhecimentos</h2>
    <ul>
        <li>
            <img 
            src="assets/knowledge/html5.svg" 
            alt="Html 5"
            loading="lazy"
            width="50px"
            height="50px">
        </li>
        <li>
            <img 
            src="assets/knowledge/css.svg" 
            alt="CSS 3"
            loading="lazy"
            width="50px"
            height="50px">
        </li>
        <li>
            <img 
            src="assets/knowledge/javascript.svg" 
            alt="Javascript"
            loading="lazy"
            width="50px"
            height="50px">
        </li>
        <li>
            <img 
            src="assets/knowledge/sass.svg" 
            alt="Sass"
            loading="lazy"
            width="50px"
            height="50px">
        </li>
        <li>
            <img 
            src="assets/knowledge/csharp.svg" 
            alt="C#"
            loading="lazy"
            width="50px"
            height="50px">
        </li>
        <li>
            <img 
            src="assets/knowledge/python.svg" 
            alt="Python"
            loading="lazy"
            width="50px"
            height="50px">
        </li>
        <li>
            <img 
            src="assets/knowledge/java.svg" 
            alt="Java"
            loading="lazy"
            width="50px"
            height="50px">
        </li>
    </ul>
</div>